# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variable files
.env

# Ignore compiled build files
dist/
build/

# Ignore IDE specific files (optional)
.vscode/
.idea/
